body {
  background-color: #fff;
  margin: 0; }

.header {
  display: flex;
  border-radius: 0 0 36% 0;
  height: 100vh;
  background-image: url(../img/m-h-day.jpg);
  background-size: cover;
  width: 100%;
  justify-content: center; }

.header-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 25px 0 218px 0; }

.landing-logo {
  display: flex; }
  .landing-logo img {
    margin-right: 20px; }
  .landing-logo p {
    line-height: 2;
    color: #2C2F3C;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center; }
    .landing-logo p span {
      font-weight: 500;
      font-size: 12px; }

.header_heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 70px;
  color: #2C2F3C;
  max-width: 490px;
  position: relative;
  margin-top: 64px;
  margin-bottom: 32px;
  z-index: 1;
  line-height: 1;
  font-weight: 700; }
  .header_heading:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #14A0C7;
    z-index: -1;
    width: 295px;
    height: 20px;
    bottom: 4px; }

.header_text {
  font-family: "Hind", sans-serif;
  line-height: 1.5;
  margin-bottom: 55px;
  color: #2C2F3C;
  white-space: pre-line; }

.header_button, .section_banner_button {
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  border-radius: 5px;
  height: 50px;
  width: 145px;
  background-color: #699900; }
  .header_button:hover, .section_banner_button:hover {
    cursor: ne-resize; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative; }

.section_banner_text {
  font-family: "Hind", sans-serif;
  color: #c0c3ce; }

.section_card_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px;
  max-width: 1080px;
  width: 100%;
  padding-top: 0px;
  margin-bottom: 160px; }

.section_card {
  display: flex;
  flex-direction: column;
  background-color: #20222c;
  margin-right: 20px;
  border-radius: 5px;
  padding: 20px;
  width: 306px;
  height: 370px; }

.section_card_img {
  min-height: 205px;
  max-height: 205px;
  border-radius: 6px; }

.section_text {
  position: relative;
  z-index: 1;
  color: #2C2F3C;
  font-weight: 600;
  font-size: 38px;
  font-family: "Source Sans Pro", sans-serif; }
  .section_text:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #14A0C7;
    width: 170px;
    height: 10px;
    bottom: 8px;
    right: 11px;
    z-index: -1; }

.section_card_heading {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index: 1; }
  .section_card_heading:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #14A0C7;
    width: 100%;
    height: 10px;
    bottom: 0px;
    z-index: -1; }

.section_card_text {
  display: flex;
  align-items: center;
  font-family: "Hind", sans-serif;
  color: #c0c3ce;
  font-size: 14px;
  text-align: center;
  margin: 0px;
  line-height: 1.5;
  height: 105px; }

.footer {
  display: flex;
  background-color: #20222c;
  justify-content: center;
  width: 100%;
  height: 200px;
  z-index: 1;
  position: relative; }

.footer-wrap {
  display: flex;
  width: 80%;
  padding: 25px 0;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer_logo {
  height: max-content;
  width: max-content; }
  .footer_logo p {
    color: #c0c3ce;
    font-family: "Hind", sans-serif; }
    .footer_logo p span {
      font-weight: 600; }

.footer_text {
  max-width: 270px;
  font-family: "Hind", sans-serif;
  color: #c0c3ce;
  font-size: 14px;
  line-height: 1.4;
  height: max-content; }

.section_banner {
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
  bottom: -60px;
  width: 835px;
  background: linear-gradient(90deg, #66960d 0%, #315fca 100%);
  height: 120px;
  align-items: center; }

.section_banner_heading {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  color: #2C2F3C;
  font-size: 24px;
  z-index: 1;
  margin-bottom: 0px;
  margin-top: 0px; }
  .section_banner_heading:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #14A0C7;
    bottom: 5px;
    z-index: -1;
    left: 96px;
    width: 51px;
    height: 9px; }

.footer-cr {
  height: max-content;
  font-family: "Hind", sans-serif;
  font-size: 14px;
  color: #c0c3ce; }
