$textColor: rgb(192, 195, 206);
$imageUrl: url(../img/m-h-night.jpg);
$backgroundColor: #21232E;
$colorHeader: #fff;
$lineColor: #FF4E33;
$button: #E3AC00;
$backGroundFooter: #3B3F50;
$gradientLinear:  linear-gradient(90deg, rgba(221,163,6,1) 0%, rgba(153,55,75,1) 100%);